.customize__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 48px 16px;
    background-color: #2A313C;

    @media (min-width: 768px) {
        flex-flow: row nowrap;
        align-items: flex-start;
        padding: 0;
    }

    @media (min-width: 1440px) {
        margin-left: calc(50% - 1440px / 2);
        margin-right: calc(50% - 1440px / 2);
    }
}


.customize__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
        justify-content: center;
        align-items: flex-start;
        padding: 80px 16px 80px 16px;
    }

    @media (min-width: 1024px) {
        padding-bottom: 0;
        padding-left: 32px;
    }

    @media (min-width: 1440px) {
        padding: 0;
        padding-top: 82px;
        padding-right: 16px;
        margin-left: 128px;
    }

    h4 {
        display: flex;
        align-items: center;

        svg {
            width: 16px;
            height: 16px;
            margin-right: 4px;

            @media (min-width: 768px) {
                width: 24px;
                height: 24px;
                margin-right: 6px;
            }

            @media (min-width: 1440px) {
                width: auto;
                height: auto;
                margin-right: 8px;
            }
        }
    }
    
    h1 {
        text-align: center;
        padding-top: 16px;

        @media (min-width: 768px) {
            width: 460px;
            text-align: left;
        }

        @media (min-width: 1024px) {
            width: 560px;
        }

        @media (min-width: 1440px) {
            width: 684px;
            padding-top: 12px;
            padding-right: 24px;
            font-size: 64px;
        }
    }

    .small__customize__photo {
        text-align: center;
        padding-top: 18px;

        img {
            width: 80%;
        }
    
        @media (min-width: 768px) {
            display: none;
        }
    }

    p {
        text-align: center;
        padding-top: 32px;
        color: #DFDFDF;
        opacity: 0.8;

        @media (min-width: 768px) {
            width: 420px;
            text-align: left;
        }

        @media (min-width: 1024px) {
            width: 608px;
        }

        @media (min-width: 1440px) {
            width: 561px;
            padding-top: 38px;
            font-size: 20px;
        }
    }

    .slide__container {
        max-width: 562px;
        display: flex;
        padding: 8px;
        justify-content: center;
        align-items: center;
        margin-top: 24px;
        border-radius: 16px;
        background-color: #3B3D46;

        @media (min-width: 768px) {
            width: 100%;
        }

        @media (min-width: 1440px) {
            margin-top: 55px;

        }
    }

    .slide {
        max-height: 102px;
        margin-right: 8px;
        border-radius: 16px;
        cursor: pointer;
        flex: 1;
        transition: all 200ms ease-in-out;

        img {
            width: 100%;
            height: 102px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        &:hover {
            outline: 2px solid $color-accent;
        }
    }

    .slide.active {
        flex: 2;
        outline: 2px solid $color-accent;
    }
      
    .slide:last-child{
        margin-right: 0;
    }
}



.customize__photo {
    display: none;

    @media (min-width: 768px) {
        display: flex;
        height: 574px;
        img {
            width: 100%;
        }
    }


    @media (min-width: 1024px) {
        display: inline-flex;
        height: 695px;
        img {
            width: 100%;
        }
    }



    @media (min-width: 1440px) {
        margin-left: 60px;
        height: 695px;
        img {
            width: 596px;
            height: 695px;
        }
    }
}



  
