.era {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 48px 16px 60px 16px;

    @media (min-width: 768px) {
        flex-flow: row nowrap;
        padding: 80px 16px;
        align-items: center;
    }

    @media (min-width: 1024px) {
        align-items: flex-start;

    }
    
    @media (min-width: 1440px) {
        justify-content: flex-start;
        padding-top: 130px;
        padding-bottom: 130px;
        padding-left: calc(50% - 1440px / 2);
        padding-right: calc(50% - 1440px / 2);
    }
}

.era__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    @media (min-width: 1440px) {
        padding: 0 0 0 60px;
    }
}


.era__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
        justify-content: center;
        align-items: flex-start;
    }

    @media (min-width: 1440px) {
        padding-top: 38px;
    }

    h4 {
        display: flex;
        align-items: center;

        svg {
            width: 16px;
            height: 16px;
            margin-right: 4px;

            @media (min-width: 768px) {
                width: 24px;
                height: 24px;
                margin-right: 6px;
            }

            @media (min-width: 1440px) {
                width: auto;
                height: auto;
                margin-right: 8px;
            }
        }
    }
    
    h1 {
        text-align: center;
        padding-top: 16px;

        @media (min-width: 768px) {
            width: 460px;
            text-align: left;
        }

        @media (min-width: 1024px) {
            width: 560px;
        }

        @media (min-width: 1440px) {
            width: 684px;
            padding-top: 12px;
            font-size: 64px;
        }
    }


    .small__era__music {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 18px;
        width: 310px;
        height: 350px;
        background-image: url('../img/music.png');
        background-repeat: no-repeat;
        background-size: cover;

        @media (min-width: 768px) {
            display: none;
        }

        .music {
            display: none;
        }

        .music.active {
            display: block;
        }

        .music:hover {
            cursor: pointer;
            .play  {
                fill: #141821;
            }

            .pause  {
                fill: #141821;
            }

            path  {
                fill: $color-accent;
            }
        }
    }


    p {
        text-align: center;
        padding-top: 32px;
        color: #DFDFDF;
        opacity: 0.8;

        @media (min-width: 768px) {
            width: 420px;
            text-align: left;
        }

        @media (min-width: 1024px) {
            width: 608px;
        }

        @media (min-width: 1440px) {
            width: 701px;
            padding-top: 38px;
            font-size: 20px;
        }
    }

}

.era__btn {
    display: flex;
    flex-direction: column;
    padding-top: 48px;

    @media (min-width: 768px) {
        flex-flow: row nowrap;
        padding-top: 38px;
    }

    @media (min-width: 1440px) {
        padding-top: 54px;
    }
}


.era__music {
    display: none;


    .music {
        display: none;
    }

    .music.active {
        display: block;
    }

    .music:hover {
        cursor: pointer;
        .play  {
            fill: #141821;
        }

        .pause  {
            fill: #141821;
        }

        path  {
            fill: $color-accent;
        }
    }

    @media (min-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 310px;
        height: 350px;
        background-image: url('../img/music.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    @media (min-width: 768px) {
        margin-left: 46px;
        width: 380px;
        height: 420px;
    }

    @media (min-width: 1440px) {
        margin-left: 127px;
        width: 492px;
        height: 550px;
    }
}

.control {
    display: none;
    color: aliceblue;
}