.mode {
    display: flex;
    flex-direction: column;
    justify-content: center;


    h2 {
        padding-top: 30px;
    }

    @media (min-width: 768px) {
        flex-flow: row nowrap;
        justify-content: space-around;
        height: 732px;
        
    }

    @media (min-width: 1440px) {
        padding-left: calc(50% - 1440px / 2);
        padding-right: calc(50% - 1440px / 2);
    }
}

.smooth {
    background-image: url('../img/smoothFPS.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px;


    .smooth__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover, &:active, &:focus {
            path {
                fill: $color-accent;
            }

            h2 {
                color: $color-accent;
            }
        }
    }

    @media (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

.multiplayer {
    background-image: url('../img/multiplayer.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px;

    .multiplayer__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover, &:active, &:focus {
            path {
                fill: $color-accent;
            }

            h2 {
                color: $color-accent;
            }
        }
    }

    @media (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

}

.openWord {
    background-image: url('../img/openWorld.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px;

    .openWord__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover, &:active, &:focus {
            path {
                fill: $color-accent;
            }

            h2 {
                color: $color-accent;
            }
        }
    }

    @media (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

