.news {
    padding: 48px 16px 60px 16px;

    @media (min-width: 768px) {
        padding: 80px 16px;
        align-items: center;
    }

    @media (min-width: 1024px) {
        align-items: flex-start;
    }
    
    @media (min-width: 1440px) {
        padding-top: 130px;
        padding-bottom: 130px;
        padding-left: calc(50% - 1440px / 2);
        padding-right: calc(50% - 1440px / 2);
    }
}

.news__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: 768px) {
        flex-flow: row nowrap;
        align-items: flex-end;
        justify-content: space-between;
    }

    @media (min-width: 1440px) {
        padding-left: 60px;
        padding-right: 60px;
    }
}

.news__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
        justify-content: center;
        align-items: flex-start;
    }

    @media (min-width: 1440px) {
        padding-top: 38px;
    }

    h4 {
        display: flex;
        align-items: center;

        svg {
            width: 16px;
            height: 16px;
            margin-right: 4px;

            @media (min-width: 768px) {
                width: 24px;
                height: 24px;
                margin-right: 6px;
            }

            @media (min-width: 1440px) {
                width: auto;
                height: auto;
                margin-right: 8px;
            }
        }
    }
    
    h1 {
        text-align: center;
        padding-top: 16px;

        @media (min-width: 768px) {
            width: 460px;
            text-align: left;
        }

        @media (min-width: 1024px) {
            width: 560px;
        }

        @media (min-width: 1440px) {
            width: 684px;
            padding-top: 12px;
            font-size: 64px;
        }
    }
}

.news__btn__small {
    display: flex;
    flex-direction: column;
    padding-top: 48px;

    @media (min-width: 768px) {
        display: none;
    }
}

.news__btn {
    display: none;

    @media (min-width: 768px) {
        display: flex;
        flex-direction: column;
        flex-flow: row nowrap;
        padding-top: 38px;
    }

    @media (min-width: 1440px) {
        padding-top: 54px;
    }
}




.news__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;


    @media (min-width: 1440px) {
        flex-flow: row nowrap;
        margin-top: 24px;
        padding-left: 60px;
        padding-right: 60px;
    }
}

.main__news {
    max-width: 312px;
    margin-top: 40px;
    
    img {
        width: 312px;
        height: 189px;
    }

    h4 {
        padding-top: 30px;
    }

    h3 {
        padding-top: 20px;
        font-size: 23px;
        line-height: 34px;
    }

    @media (min-width: 768px) {
        max-width: 648px;
        max-height: 702px;

        img {
            width: 648px;
            height: 510px;
        }
    
        h4 {
            padding-top: 54px;
        }
    
        h3 {
            padding-top: 28px;
            font-size: 36px;
            line-height: 46px;
        }
    }
}


.other__news {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;

    @media (min-width: 1440px) {
        justify-content: space-between;
        margin-left: 24px;
    }
}

.cell {
    max-width: 312px;
    margin-top: 40px;
    
    img {
        width: 312px;
        height: 189px;
    }

    h4 {
        padding-top: 30px;
    }

    h3 {
        padding-top: 20px;
        font-size: 23px;
        line-height: 34px;
    }
}