.shop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../img/shop-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 48px 16px;

        
    @media (min-width: 768px) {
        padding: 0;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    @media (min-width: 1440px) {
        padding-top: 130px;
        margin-left: calc(50% - 1440px / 2);
        margin-right: calc(50% - 1440px / 2);
    }

    h4 {
        display: flex;
        align-items: center;
        svg {
            width: 16px;
            height: 16px;
            margin-right: 4px;
    
            @media (min-width: 768px) {
                width: 24px;
                height: 24px;
                margin-right: 6px;
            }
    
            @media (min-width: 1440px) {
                width: auto;
                height: auto;
                margin-right: 8px;
            }
        }
    }
    
    
    h1 {
        text-align: center;
        padding-top: 12px;

        @media (min-width: 768px) {
            width: 560px;
        }
    
        @media (min-width: 1024px) {
            font-size: 64px;
            width: 716px;
        }
    }
    
    p {
        align-items: center;
        text-align: center;
        padding-top: 32px;

        @media (min-width: 768px) {
            width: 608px;
        }
           
        @media (min-width: 1440px) {
            width: 698px;
            padding-top: 38px;
        }
    }
}


.block__shop {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding-top: 32px;

    @media (min-width: 1024px) {
        padding: 32px 16px 0 16px;
        justify-content: space-around;
    }

    @media (min-width: 1440px) {
        padding: 64px 118px 0 118px;
        justify-content: space-between;
    }


    .block {
        display: flex;
        flex-flow: row nowrap;
        padding: 16px;
        margin-bottom: 16px;
        border-radius: 16px;
        background: rgba(255, 255, 255, 0.15);       

        @media (min-width: 1024px) {
            border-radius: 20px;
            margin-bottom: 16px;
            padding: 24px;
        }

        @media (min-width: 1440px) {
            width: 586px;
            height: 212px;
            border-radius: 20px;
            margin-bottom: 32px;
            padding: 35px;
            align-items: baseline;
        }

        svg {
            align-items: baseline;
            min-width: 16px;
            min-height: 16px;
            margin-right: 8px;
    
            @media (min-width: 768px) {
                min-width: 24px;
                min-height: 24px;
                margin-right: 10px;
            }
    
            @media (min-width: 1440px) {
                min-width: 29px;
                min-height: 29px;
                margin-right: 16px;
            }
        }

        h3 {
            padding: 0;
        }

        p {
            padding-top: 18px;
            text-align: left;

            @media (min-width: 1024px) {
                font: $font-p-small;
                width: 680px;
            }

            @media (min-width: 1440px) {
                font: $font-p;
                width: 470px;
            }
        }
    
    }

    .block:last-child {
        margin-bottom: 0;
    }

}




