.sponsors {
    width: auto;
    background-color: $color-accent;

    @media (min-width: 1440px) {
        margin-left: calc(50% - 1440px / 2);
        margin-right: calc(50% - 1440px / 2);
    }
}

.sponsors__content {
    display: flex;
    flex-direction: column;
    padding: 48px 16px;
    
    @media (min-width: 768px) {
        padding-top: 80px;
        padding-bottom: 80px;
    }


    @media (min-width: 1440px) {
        padding-top: 130px;
        padding-bottom: 130px;
        padding-left: calc(50% - 1320px / 2);
        padding-right: calc(50% - 1320px / 2);
    }
}


.sponsors__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        font: $font-p-small;
        color: #555555;
        text-align: center;
        max-width: 376px;
        padding-top: 24px;

        @media (min-width: 768px) {
            max-width: 576px;
        }
        
        @media (min-width: 1440px) {
            padding-top: 41px;
            font-size: 16px;
            line-height: 26px;
        }
    }
}

.sponsors__company {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding-top: 24px;

    svg {
        max-width: 50%;
        height: auto;
        padding: 4px;
    }


    @media (min-width: 1440px) {
        padding-top: 44px;
        justify-content: space-between;

        svg {
            max-width: 100%;
            height: auto;
            padding: 0;
        }
    }
}