.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 16px;

  @media (min-width: 768px) {
    padding-left: 48px;
    padding-right: 48px;
  }

  @media (min-width: 1024px) {
    padding: 24px;
  }

  @media (min-width: 1440px) {
    padding-top: 20px;
    padding-bottom: 0;
    padding-left: calc(50% - 1320px / 2);
    padding-right: calc(50% - 1320px / 2);
    z-index: 1;
  }
}

.logo {
  width: 120px;
  height: 32px;

  @media (min-width: 768px) {
    flex-shrink: 0;
    width: 140px;
    height: 48px;
  }

  @media (min-width: 1440px) {
    flex-shrink: 0;
    width: 170px;
    height: 48px;
  }
}


.navigation-block {
  display: none;

  @media (min-width: 1024px) {
    display: flex;
    flex-flow: row nowrap;

    .pages {
     margin-right: 40px;
    } 

    .pages:last-child {
      margin-right: 0;
    }
  }

  @media (min-width: 1440px) {
    display: flex;
    flex-flow: row nowrap;
    padding-left: 222px;
    padding-right: 167px;

    .pages {
     margin-right: 60px;
    } 

    .pages:last-child {
      margin-right: 0;
    }
  }
}


.contact-block {
  display: none;

  @media (min-width: 1024px) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    svg {
      &:hover, &:active, &:focus {
        cursor: pointer;

        path {
          fill: $color-accent;
        }
      }
    }

    .btn-outline {
      margin-left: 24px;
      outline: 1px solid $color-text;

      &:hover, &:active, &:focus {
        background-color: $color-accent;
        color: $color-text;
        outline: none;
        opacity: 0.8;
        transition: all ease 0.3s;
      }
    }
  }

  @media (min-width: 1440px) {
      display: flex;
      align-items: center;

        svg {
        &:hover, &:active, &:focus {
          cursor: pointer;

          path {
            fill: $color-accent;
          }
        }
      }


    .btn-outline {
      margin-left: 42px;
      outline: 1px solid $color-text;
      padding: 17px 31px;

      &:hover, &:active, &:focus {
        background-color: $color-accent;
        color: $color-text;
        outline: none;
        opacity: 0.8;
        transition: all ease 0.3s;
      }
    }
  }
}









.navigation-block-small {
  display: flex;
  align-items: center;

  @media (min-width: 1024px) {
    display: none;
  }

  @media (min-width: 1440px) {
    display: none;
  }
  
}

.burgerMenu {
  svg {
    &:hover, &:active, &:focus {
      cursor: pointer;

      path {
        fill: $color-accent;
      }
    }
  }
}


.mobile-navigation-modal {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: #577CFF;
  transition: all 0.2s ease-in-out;

  @media (min-width: 1024px) {
      opacity: 0;
      z-index: -1;
  }
}

.navigation__content {
  width: 100%;
  padding: 16px 16px 32px 16px;
  font: $font-pages;


  @media (min-width: 768px) {
      padding-left: 48px;
      padding-right: 48px;
      font: $font-h3-small;
  }
}

.mobile-navigation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .icon-close {
      svg {
          &:hover, &:active, &:focus {
              cursor: pointer;
          
              path {
                fill: $color-accent;
              }
          }
      }
  }
}

.mobile-navigation-block {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  border-top: 1px solid $color-p;
  border-bottom: 1px solid $color-p;

}

.mobile-navigation-contact-block {
  display: flex;
  flex-direction: column;
}

.mobPages {
  margin-left: 48px;
  padding-top: 8px;
  padding-bottom: 8px;

  &.mobPages:first-child {
      padding-top: 24px;
  }

  &.mobPages:last-child {
      padding-bottom: 24px;
  }

  @media (min-width: 768px) {
      padding-top: 16px;
      padding-bottom: 16px;

      &.mobPages:first-child {
          padding-top: 32px;
      }

      &.mobPages:last-child {
          padding-bottom: 32px;
      }
  }
}