* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: $color-background;
}

a {
    color: $color-text;
    text-decoration: none;

    &:hover, &:active, &:focus {
        color: $color-accent;
        transition: all ease 0.3s;
    }

    @media (min-width: 1024px) {
        font: $font-pages;
    }
}


.social {
    font: $font-social-small;
    color: $color-social;
    text-decoration: none;
    text-transform: uppercase;

    &:hover, &:active, &:focus {
        color: $color-accent;
        transition: all ease 0.3s;
    }

    @media (min-width: 768px) {
        font: $font-social-small;
    }

    @media (min-width: 1440px) {
        font: $font-social;
    }
}


h1 {
    margin: 0px;
    font: $font-h1-small;
    color: $color-text;
    text-transform: capitalize;

    @media (min-width: 1024px) {
        font: $font-h1;
    }
}


h2 {
    margin: 0px;
    font: $font-h2-small;
    color: $color-text;
    text-transform: capitalize;

    @media (min-width: 1440px) {
        font: $font-h2;
    }
}


h3 {
    font: $font-h3-small;
    color: $color-text;
    text-transform: capitalize;

    @media (min-width: 1440px) {
        font: $font-h3;
    }
}


h4 {
    font: $font-h4-small;
    color: $color-accent;
    text-transform: uppercase;

    @media (min-width: 1440px) {
        font: $font-h4;
    }
}


p {
    font: $font-p-small;
    color: $color-p;

    @media (min-width: 1024px) {
        font: $font-p;
    }
}


.btn-outline {
    display: inline-block;
    border-radius: 0px;
    padding: 21px 34px;
    font: $font-btn-small;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    color: $color-text;

    &:hover, &:active, &:focus {
        color: $color-accent;
        outline: 1px solid $color-accent;
        opacity: 0.8;
        transition: all ease 0.3s;
    }

    @media (min-width: 768px) {
        font: $font-btn;
    }
}


.btn {
    display: inline-block;
    border-radius: 0px;
    padding: 21px 34px;
    font: $font-btn-small;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    color: $color-text;
    background-color: $color-accent;


    &:hover, &:active, &:focus {
        color: $color-text;
        background-color: $color-accent;
        opacity: 0.8;
        transition: all ease 0.3s;
    }
}

