/* Colors */
$color-background: #000;
$color-accent: #FC57FF;
$color-accent-hover: #035a6d;
$color-text: #ffffff;
$color-social: #80858F;
$color-p: #999999;




/* Font */
@font-face {
  font-family: OrbionRegular;
  src: url(../fonts/Orbitron-Regular.ttf);
}
$orbion-regular: "OrbionRegular";


/* Font size */
$font-social-small: 10px/12px $orbion-regular;
$font-h1-small: 48px/52px $orbion-regular;
$font-h2-small: 32px/36px $orbion-regular;
$font-h3-small: 24px/26px $orbion-regular;
$font-h4-small: 14px/14px $orbion-regular;
$font-p-small: 14px/24px $orbion-regular;
$font-btn-small: 18px/28px $orbion-regular;

/* Font size  @media (min-width: 768px) */



/* Font size  @media (min-width: 1440px)*/
$font-pages: 16px/26px $orbion-regular;
$font-social: 11px/25px $orbion-regular;
$font-h1: 72px/86px $orbion-regular;
$font-h2: 48px/58px $orbion-regular;
$font-h3: 32px/42px $orbion-regular;
$font-h4: 16px/16px $orbion-regular;
$font-p: 18px/28px $orbion-regular;
$font-btn: 18px/28px $orbion-regular;